@import url('buttons.css');

body *, html *{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.card{
  border-radius: var(--border-radius);
  height: auto;
  margin: var(--m);
  box-shadow: var(--shadow);
  vertical-align: top;
}
.card h2{
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}
.card-image, .card-details, .card-action{
  padding: var(--m);
}
.normal .inner:last-child{
  border-top: var(--bw-border);
}
.left-image{
    cursor: pointer;
}
.left-image *{
  float: left;
  width: 50%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.clickable{
  cursor: pointer;
}
.clickable:hover{
  box-shadow: var(--shadow-hover);
}
.clickable:active{
  box-shadow: var(--shadow);
}
.wButton .card-action button{
  display: block;
  margin: 0 auto;
}
.card-image{
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  /*text-shadow: 1px 1px 15px #484747;*/
  text-transform: uppercase;
  background-image: url("../images/blue.png");
  background-size: cover;
  padding-top: var(--xl);
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
.cardsContainer{
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  display: flex;
  margin: var(--m) 0px;
}
.cardsContainer .card{
  border-right: var(--bw-border);
}
.cardsContainer .card, .cardsContainer .card .card-image{
  flex: 1;
  margin: 0;
  box-shadow: none;
  border-radius: 0px;
}
.cardsContainer .card:first-child{
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
}
.cardsContainer .card:first-child .card-image{
  border-radius: var(--border-radius) 0px 0px 0px;
}
.cardsContainer .card:last-child{
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}
.cardsContainer .card:last-child .card-image{
  border-radius: 0px var(--border-radius) 0px 0px;
}
.cardsContainerSpaced{
  display: flex;
  justify-content: space-between;
  margin: var(--m) 0px;
}
.cardsContainerSpaced .card{
  border-right: var(--bw-border);
}
.cardsContainerSpaced .card:first-child{
  margin-left: 0px;
}
.cardsContainerSpaced .card:last-child {
  margin-right: 0px;
}
.cardsContainerSpaced .card{
  flex: 1;
}
.fixed{
  width: 900px;
  margin: var(--m) auto;
}
.smaller{
  font-size: .85em;
  line-height: 1.5em;
}

@media (max-width: 900px){
  .cardsContainerSpaced{
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }
  .cardsContainerSpaced .card{
    margin: var(--s) 0px;
  }
  .cardsContainer{
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }
  .cardsContainer .card{
    border: none;
    border-bottom: var(--bw-border);
  }
  .cardsContainer .card:first-child{
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  }
  .cardsContainer .card:first-child .card-image{
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  }
  .cardsContainer .card:last-child{
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    border-bottom: none;
  }
  .cardsContainer .card:last-child .card-image{
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
  }
}
