code {
  padding: .3em;
  margin: 0;
  font-size: .85em;
  font-weight: 100;
  background-color: var(--light-grey);
  border-radius: 3px;
  font-family: 'Source Code Pro', monospace;
  direction: ltr;
  border: var(--bw-border);
  transition: all 0.2s ease;
}
code:before, code:after{
  letter-spacing: -.2em;
  content: "\00a0";
}
code.get{
  background-color: var(--bw-green) !important;
  color: #fff !important;
  border:none !important;
  text-transform:uppercase;
}
code.post{
  background-color: var(--bw-blue) !important;
  color: #fff !important;
  border:none !important;
  text-transform:uppercase;
}
code.put{
  background-color: var(--bw-purple) !important;
  color: #fff !important;
  border:none !important;
  text-transform:uppercase;
}
code.delete{
  background-color: var(--bw-red) !important;
  color: #fff !important;
  border:none !important;
  text-transform:uppercase;
}
