.radios input[type="radio"] {
    display: none;
}
.radios input[type="radio"] + label {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0.2em 0 0.2em 2.1em;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radios input[type="radio"] + label:before {
    color: #fff;
    font-family: "Bandwidth";
    text-align: center;
    width: 1.3em;
    height: 1.3em;
    display: block;
    position: absolute;
    top: calc(.2em + 2px);
    left: 2px;
    z-index: 1;
}
.radios input[type="radio"]:checked + label:before {
    content: "\f19f";
}
.radios input[type="radio"] + label:after {
    content: "";
    background: #fff;
    border: var(--bw-db-border-thick);
    border-radius: 2em;
    width: 1.3em;
    height: 1.3em;
    display: block;
    position: absolute;
    top: .2em;
    left: 0;
    transition: all 0.2s ease;
}
.radios input[type="radio"]:checked + label:after {
    background: var(--bw-dark-blue);
}
.radios input[type="radio"]:active + label:after {
    border-color: var(--bw-alternate-blue);
}
.radios input[type="radio"]:checked:active + label:after {
    background: var(--bw-alternate-blue);
}
.radios input[type="radio"]:focus:not(:hover) + label:after {
    box-shadow: 0 0 0 5px var(--bw-light-blue);
}
.radios input[type="radio"][disabled] + label {
    opacity: 0.5;
}
.radios input[type="radio"][disabled] + label:before {
    color: var(--bw-help-text);
}
