@import url('buttons.css');
@import url('inputs.css');

.stepContainer{
  display: flex;
  flex-direction: column;
}
.step{
  margin: 5px 0px;
}
.step:before {
    position: absolute;
    font-family: 'Bandwidth', 'Overpass', sans-serif;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    content: "!";
    background-color: #fff;
    border-radius: 2em;
    border: 1px solid rgba(0,0,0,.15);
    text-align: center;
}
#one:before{
  content: "1";
}
#two:before{
  content: "2";
}
#three:before{
  content: "3";
}
#four:before{
  content: "4";
}
#five:before{
  content: "5";
}
#six:before{
  content: "6";
}
#seven:before{
  content: "7";
}
#eight:before{
  content: "8";
}
#nine:before{
  content: "9";
}
#ten:before{
  content: "10";
}
.step p{
  margin: 0;
	margin-left: 3.5em;
	padding: .6em 0em;
}
.error:before {
  color: var(--bw-red);
  border: var(--bw-red-border);
}
.completed:before{
  content: "\f19f" !important;
  color: var(--bw-green);
  border: var(--bw-green-border);
}
.spacer{
  padding-top: 100vh;
}
.form-input {
    padding: 1em 0;
}
