.ta-form-input {
    padding: var(--m) 0;
}
textarea {
    color: var(--med-grey);
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    border: 1px solid var(--disabled-grey);
    padding: var(--m);
    width: 100%;
    display: block;
    outline: none;
    box-shadow: none;
    transition: all 0.2s ease;
    border-radius: 0;
    -webkit-border-radius: 0;
}
textarea:focus,
textarea.success:focus,
textarea.error:focus {
    box-shadow: inset 0 -5px 0 var(--bw-light-blue);
    border-color: #c2c2c2;
}
.ta-form-input.disabled {
    opacity: 0.5;
}
textarea[disabled] {
    background: var(--disabled-grey);
    border-color: #c2c2c2;
}
textarea.success {
    border-color: #b5df86;
    box-shadow: inset 0 -5px 0 #e9f5db;
}
textarea.error {
    border-color: #f6bbab;
    box-shadow: inset 0 -5px 0 #fceae6;
}
label {
    font-weight: 600;
    padding-bottom: .4em;
    display: block;
}
.required > label:after {
    content: " *";
    color: #e8562e;
}
.help {
    color: var(--bw-help-text);
    font-style: italic;
    font-weight: 300;
    padding-top: .4em;
}
