@import url('tabs.css');

.accordion p:first-of-type,
.accordion ul:first-of-type,
.accordion ol:first-of-type {
    margin-top: 0;
    padding-top: 0;
}
.accordion p:last-of-type,
.accordion ul:last-of-type,
.accordion ol:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}
.accordions {
    background: #fff;
    border: var(--bw-border);
}
.accordion {
    border: var(--bw-border);
    margin: -1px;
}
.accordion .drawer {
    color: var(--bw-blue);
    font-size: 1.5em;
    padding: var(--l);
    cursor: default;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s ease, border-color 0.2s ease;
}
.accordion .drawer:before {
    content: "\f116";
    color: var(--med-grey);
    font-family: "Bandwidth";
    letter-spacing: 0.5em;
}
.accordion.active .drawer:before {
    content: "\f117";
}
.accordion.disabled {
    background: var(--disabled-grey);
    opacity: .5;
}
.accordion.disabled .drawer {
    color: var(--med-grey);
}
.accordion:not(.disabled) .drawer:hover {
    cursor: pointer;
}
.accordion .content {
    padding: 0 var(--l) var(--l);
}
