.time-picker {
    position: relative;
}
.time-picker input[type="time"] {
    width: auto;
    display: none;
}
.time-picker .slider-wrap {
    width: 485px;
    height: 3.5em;
    position: absolute;
    top: 0;
    left: 28px;
}
.time-picker .slider {
    background: #fff;
    border: var(--bw-border);
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 130px;
    z-index: 2;
    cursor: move;
    transition: border-color 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.time-picker .slider.ext {
    border-color: #f8b917;
}
.time-picker .slider .icons8-back,
.time-picker .slider .icons8-forward {
    text-align: center;
    padding: 0.8em;
    width: 1em;
    opacity: 1;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease;
}
.time-picker .slider .icons8-back.disabled,
.time-picker .slider .icons8-forward.disabled {
    color: #999;
    opacity: 0.5;
    cursor: default;
}
.time-picker .slider .icons8-back:not(.disabled):hover,
.time-picker .slider .icons8-forward:not(.disabled):hover {
    color: #000;
}
.time-picker .slider .time {
    text-align: center;
    padding: 0.8em 0;
    width: 5em;
    display: inline-block;
}
.time-picker .slider:before {
    content: "";
    background: #333;
    width: 2px;
    height: calc(4em + 2px);
    position: absolute;
    bottom: calc(-4em - 2px);
    left: calc(50% - 1px);
}
.time-picker .slider:after {
    content: "";
    background: #333;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: calc(-4em - 6px);
    left: calc(50% - 6px);
}
.time-picker .hours {
    padding-top: calc(3.5em + 2px);
    padding-bottom: 1.5em;
    position: relative;
}
.time-picker .range {
    float: left;
}
.time-picker .range.closed {
    background: var(--disabled-grey);
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
}
.time-picker .range.closed .mark {
    background: #a4a4a4;
}
.time-picker .range.ext {
    background: #fdeab9;
    border-top: 1px solid #f8b917;
    border-bottom: 1px solid #f8b917;
}
.time-picker .range.ext .mark {
    background: #f8b917;
}
.time-picker .range.open {
    background: #fff;
    border-top: var(--bw-border);
    border-bottom: var(--bw-border);
}
.time-picker .range.open .mark {
    background: #c2c2c2;
}
.time-picker .mark {
    background: #c2c2c2;
    margin-left: 4px;
    width: 1px;
    float: left;
    position: relative;
}
.time-picker .hour {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    height: 2em;
}
.time-picker .fifteen {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    height: 1em;
}
.time-picker .mark.t0000,
.time-picker .mark.t0500,
.time-picker .mark.t2000 {
    margin-left: 0;
}
.time-picker .mark.t0000,
.time-picker .mark.t0500,
.time-picker .mark.t0800,
.time-picker .mark.t1200,
.time-picker .mark.t2000,
.time-picker .mark.t2200,
.time-picker .mark.t2400 {
    margin-top: 0;
    margin-bottom: 0;
    height: 3.5em;
}
.time-picker .mark.t0100,
.time-picker .mark.t0200,
.time-picker .mark.t0300,
.time-picker .mark.t0400,
.time-picker .mark.t2300,
.time-picker .mark.t2400 {
    margin-left: 19px;
}
.time-picker .mark.t1945 {
    margin-right: 4px;
}
.time-picker .mark.t0400 {
    margin-right: 19px;
}
.time-picker .mark.t0500:after { content: "5 AM"; }
.time-picker .mark.t0800:after { content: "8 AM"; }
.time-picker .mark.t2000:after { content: "8 PM"; }
.time-picker .mark.t2200:after { content: "10 PM"; }
.time-picker .mark.t0500:after,
.time-picker .mark.t0800:after,
.time-picker .mark.t2000:after,
.time-picker .mark.t2200:after {
    font-size: 0.8em;
    text-align: center;
    width: 4em;
    position: absolute;
    left: -2em;
    bottom: -2em;
    display: block;
}
/* Jquery UI*/
.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}