.alert{
	display:inline-block;
	padding: var(--s) var(--m);
	border: var(--bw-red-border);
	color: var(--bw-red);
	background-color: var(--bw-light-red);
	font-weight: 500;
	width:auto;
}
.alert p{
	margin: 0;
	margin-left: 3em;
	padding: .3em 0em;
}
.alert--small p{
	padding: .15em 0em;
}
.alert:before{
	display:inline-block;
	position: absolute;
	font-family: 'Bandwidth', 'Overpass', sans-serif;
	width: var(--outer-padding);
	height: var(--outer-padding);
	line-height: var(--outer-padding);
	content: "!";
	background-color: #fff;
	border-radius: var(--outer-padding);
	border: var(--bw-red-border);
	text-align:center;
}
.alert a{
	color: var(--bw-red);
}
.alert a:after{
	background: var(--bw-red);
}
.alert--small{
	padding: .5em 1em;
	font-size: .8em;
}
.alert--general{
	color: var(--bw-dark-blue);
  background: var(--bw-light-blue);
  border: var(--bw-blue-border);
}
.alert--general:before{
	content:"i";
	border:var(--bw-blue-border);
}
.alert--general a{
	color: var(--bw-dark-blue);
}
.alert--general a:after{
	background: var(--bw-dark-blue);
}
.alert--success{
	color: var(--bw-dark-green);
  background: var(--bw-light-green);
  border: var(--bw-green-border);
}
.alert--success:before {
	content:"\f19f";
	border:var(--bw-green-border);
}
.alert--success a{
	color: var(--bw-dark-green);
}
.alert--success a:after{
	background: var(--bw-dark-green);
}
.alert--global{
	width: 100%;
}
.alert--text-only{
	line-height: 1.6em;
}
.alert--text-only p{
	margin-left: 0em;
}
.alert--text-only:before{
	display:none;
}
