.comments .comment {
    width: 100%;
    position: relative;
}
.comments .comment .datetime {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.comments .comment:not(:last-of-type) .datetime:after {
    content: "";
    background: var(--border-grey);
    margin-left: 1.5em;
    width: 1px;
    height: 100%;
    display: block;
}
.comments .comment .datetime .day {
    font-weight: bold;
    text-transform: uppercase;
}
.comments .comment .content {
    margin-left: 17em; /* about the width of the longest possible date */
    width: calc((100% - 17em) * 0.75);
}
.comments .comment.right .content,
.comments .comment.right .status,
.comments .comment.right .note,
.comments .comment.right .author {
    float: right;
    clear: both;
}
.comments .comment.left .content,
.comments .comment.left .status,
.comments .comment.left .note,
.comments .comment.left .author {
    float: left;
    clear: both;
}
.comments .comment .status {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.comments .comment .status.success {
    color: var(--bw-green);
}
.comments .comment .status.info {
    color: #999;
}
.comments .comment .status.error {
    color: var(--bw-red);
}
.comments .comment .note {
    background: #fff;
    border: var(--bw-border);
    border-right: 0;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.7em 0.7em 0.7em 1em;
    min-width: 10em;
    position: relative;
}
.comments .comment .note .corner {
    background: #fff;
    width: 1em;
    height: calc(100% - 1em + 2px);
    border: var(--bw-border);
    border-left: 0;
    position: absolute;
    top: -1px;
    right: -1em;
}
.comments .comment .note .corner:before {
    content: "";
    height: 0;
    width: 0;
    border-width: calc(.5em);
    border-color: var(--border-grey) transparent transparent var(--border-grey);
    border-style: solid;
    position: absolute;
    bottom: calc(-1em - 1px);
    left: 0;
    box-shadow: 0 -1px 0 var(--border-grey); /* backup top border */
}
.comments .comment .note .corner:after {
    content: "";
    height: 0;
    width: 0;
    border-width: calc(.5em - 1px);
    border-color: #fff transparent transparent #fff;
    border-style: solid;
    position: absolute;
    bottom: calc(-1em + 1px);
    left: 1px;
}
.comments .comment.right .note,
.comments .comment.right .note .corner {
    background: var(--bw-light-blue);
    border-color: var(--bw-blue);
}
.comments .comment.right .note .corner:before {
    border-color: var(--bw-blue) transparent transparent var(--bw-blue);
    box-shadow: 0 -1px 0 var(--bw-blue); /* backup top border */
}
.comments .comment.internal .note,
.comments .comment.internal .note .corner {
    background: #f6eff5;
    border-color: var(--bw-purple);
}
.comments .comment.internal .note .corner:before {
    border-color: var(--bw-purple) transparent transparent var(--bw-purple);
    box-shadow: 0 -1px 0 var(--bw-purple); /* backup top border */
}
.comments .comment.internal .note a {
    color: var(--bw-purple);
}
.comments .comment.internal .note a:after {
    background-color: var(--bw-purple);
}
.comments .comment.internal .note p:first-of-type:before {
    content: 'Internal:';
    color: var(--bw-purple);
    font-style: italic;
    font-weight: bold;
    margin-right: 0.4em;
}
.comments .comment .author {
    font-style: italic;
    margin-bottom: 2em;
}
.comments .comment.right .status,
.comments .comment.right .author {
    text-align: right;
}
.comments .comment:first-of-type,
.comments .comment .note p:first-of-type {
    margin-top: 0;
    padding-top: 0;
}
.comments .comment:last-of-type,
.comments .comment .note p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* Responsive styles */
.comments.compressed .comment .datetime {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 0.6em;
    height: auto;
    position: relative;
    overflow: visible;
}
.comments.compressed .comment .datetime:after {
    display: none;
}
.comments.compressed .comment .datetime .day {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}
.comments.compressed .comment .datetime .day:before {
    content: "";
    background: var(--border-grey);
    margin: 0;
    width: calc(50% - 6em);
    height: 1px;
    position: absolute;
    top: 0.7em;
    left: 0;
    display: block;
}
.comments.compressed .comment .datetime .day:after {
    content: "";
    background: var(--border-grey);
    margin: 0;
    width: calc(50% - 6em);
    height: 1px;
    position: absolute;
    top: 0.7em;
    right: 0;
    display: block;
}
.comments.compressed .comment.right .time {
    text-align: right;
}
.comments.compressed .comment .content {
    margin-left: 0;
    width: 75%;
}
