#sip-config{
  height: calc(100vh - 121px);
  display: block;
}
#main-content{
  padding: 0em;
  width: 100%;
}
h1, h2, h3{
  margin-top: 0px;
}
.list-pane{
  float: left;
  width: 38%;
  height: 100%;
  border-right: var(--input-border);
}
.detail-pane{
  width: 62%;
  float: left;
  height: 100%;
  background-color: var(--background-grey);
  padding: 2em;
  overflow: auto;
}
.domain-container{
  padding: 2em;
  background-color: #fff;
  border: var(--input-border);
  border-top: none;
  margin-bottom: 2em;
}
.container-header{
  width: 100%;
  background-color: var(--disabled-grey);
}
.container-header h3{
  margin-bottom: 0px;
  padding: .75em 1em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em;
  line-height: .9em;
}
#add-domain{
  padding: 1.5em 2em;
  font-weight: 100;
  font-size: 1.3em;
  color: var(--bw-blue);
  border-bottom: var(--input-border);
}
#add-domain h3{
  font-weight: 300;
  margin-bottom: 0px;
}
#add-domain a{
  float: right;
}
#add-domain *{
  display: inline-block;
}
.domain{
  padding: 1.5em 2em;
  color: var(--dark-grey);
  border-bottom: var(--input-border);
  cursor: pointer;
}
.domain.active{
  background-color: var(--background-grey);
  color: var(--bw-blue);
  width: calc(100% + 1px);
}
.domain h3{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
.domain p, .detail-pane p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.name-area{
  display: inline-block;
}
.detail-pane h2{
  font-weight: 300;
  width: calc(100% - 304px);
  margin-bottom: 30px;
}
.tools{
  font-size: 1.5em;
  width: 300px;
  text-align: right;
}
#domain-endpoints .tools{
  width: 100%;
  margin-bottom: 1em;
}
.endpoint-search{
  padding-top: 0em !important;
}
.endpoint-search input{
  width: 100%;
}
.tools *{
  display: inline-block;
}
.tool{
  margin: 0em .5em;
  cursor: pointer;
}
.domain-id:before{
  content: 'Domain ID: ';
  font-weight: 600;
}
.domain-description:before{
  content: 'Description: ';
  font-weight: 600;
}
.hidden{
  display: none;
}
.disabled{
  opacity: 0.5;
}
button{
  margin: 1em 0;
}
#domain-endpoints button{
  margin-top: 3em;
}
.domain-search button{
  margin-top: 0em !important;
  margin-bottom: 3em;
}
.add-endpoint{
  margin-bottom: 2em;
}
.cancel-function{
  color: var(--bw-red);
  margin-left: 1em;
}
.cancel-function:after{
  background: var(--bw-red);
}
.endpoint-message{
  text-align: center;
  font-size: 1.3em;
}
.added{
  display: none;
}
#added-domain > .domain-container > .table-wrap{
  display: none;
}
.domain-details{
  padding: 0;
}
#new-domain .domain-details{
  padding: 2em;
  border-top: var(--input-border);
}
.domain-details .accordions{
  border: none;
}
.accordions .accordion{
  border: var(--input-border);
}
#ifNew{
  display: none;
}
#new-domain .toggle{
  margin-bottom: 15px;
}
