.radio-group *,
.radio-group *:after {
    transition: all 0.2s ease;
}
/* hide input */
.radio-group input[type="radio"]:empty {
    margin-left: -9999px;
}
/* basic label styles */
.radio-group input[type="radio"]:empty ~ label {
    border: var(--bw-border);
    margin-right: -1px;
    padding: var(--m);
    cursor: pointer;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-group.lg input[type="radio"]:empty ~ label {
    padding: var(--l);
}
.radio-group input[type="radio"]:empty ~ label span {
    font-weight: bold;
    text-transform: uppercase;
}
.radio-group input[type="radio"]:empty ~ label p {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
.radio-group input[type="radio"]:first-of-type + label {
    border-radius: 3px 0 0 3px;
}
.radio-group input[type="radio"]:last-of-type + label {
    border-radius: 0 3px 3px 0;
}
/* disabled */
.radio-group input[type="radio"]:disabled ~ label {
    background: var(--disabled-grey);
    border:  var(--bw-border);
    cursor: auto;
    opacity: 0.5 !important;
}
/* checked */
.radio-group input[type="radio"]:checked + label {
    opacity: 1;
}
.radio-group input[type="radio"] + label:after {
    content: "";
    background: var(--bw-blue);
    width: calc(100% + 2px);
    height: 0;
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: block;
}
.radio-group input[type="radio"]:disabled + label:after {
    background-color: var(--border-grey);
}
.radio-group input[type="radio"]:first-of-type + label:after {
    border-radius: 0 0 0 3px;
}
.radio-group input[type="radio"]:last-of-type + label:after {
    border-radius: 0 0 3px 0;
}
.radio-group input[type="radio"]:checked + label:after {
    height: 5px;
}
/* not checked */
.radio-group input[type="radio"]:not(:checked) + label {
    opacity: 0.5;
}
.radio-group input[type="radio"]:not(:checked):not(:disabled):hover + label {
    opacity: 1;
    border-color: var(--bw-blue);
    z-index: 1;
}
/* vertical orientation */
.radio-group.vertical input[type="radio"]:empty ~ label {
    margin-right: 0;
    margin-bottom: -1px;
    width: 100%;
    clear: both;
}
.radio-group.vertical input[type="radio"]:first-of-type + label {
    border-radius: 3px 3px 0 0;
}
.radio-group.vertical input[type="radio"]:last-of-type + label {
    border-radius: 0 0 3px 3px;
}
.radio-group.vertical input[type="radio"]:first-of-type + label:after {
    border-radius: 0;
}
.radio-group.vertical input[type="radio"]:last-of-type + label:after {
    border-radius: 0 0 3px 3px;
}
