@charset "UTF-8";
/* CSS Document */

html * {
	   box-sizing: border-box;
      margin:0;
   }
   .left{
      width: 30%;
      padding-left:10%;
      border-right: 1px solid var(--disabled-grey);
   }
   .right{
      width: 70%;
      background-color: #f7f7f7;
      padding-right:10%;
      overflow: auto;
   }
   ul,li{
      list-style-type: none;
      padding-left:0;
      font-size:1em;
   }
   ul{
      margin-top: 20px;  
   }
   li{
      padding: 5px 0px; 
      height: 30px;
      overflow: hidden;
   }
   li.selected a{
      color: var(--bw-blue);
      font-weight: bold; 
   }
   .left a{
      color: var(--med-grey);
      border-bottom: 0px;
      font-weight:600;
   }
   .expanded{
      height: auto;  
   }
   div.radio-group *,
div.radio-group *:after {
    transition: all 0.2s ease;
}
/* hide input */
div.radio-group input[type="radio"]:empty {
    margin: -9999px;
}
/* basic label styles */
div.radio-group input[type="radio"]:empty ~ label {
    border: var(--bw-border);
    margin-right: -1px;
    padding: 1em 1.4em;
    cursor: pointer;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.radio-group.lg input[type="radio"]:empty ~ label {
    padding: 1.8em 2.2em;
}
div.radio-group input[type="radio"]:empty ~ label span {
    font-weight: bold;
    text-transform: uppercase;
}
div.radio-group input[type="radio"]:empty ~ label p {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
div.radio-group input[type="radio"]:first-of-type + label {
    border-radius: 3px 0 0 3px;
}
div.radio-group input[type="radio"]:last-of-type + label {
    border-radius: 0 3px 3px 0;
}
/* disabled */
div.radio-group input[type="radio"]:disabled ~ label {
    background: var(--disabled-grey);
    border: var(--bw-border);
    cursor: auto;
    opacity: 0.5 !important;
}
/* checked */
div.radio-group input[type="radio"]:checked + label {
    opacity: 1;
}
div.radio-group input[type="radio"] + label:after {
    content: "";
    background: var(--bw-blue);
    width: calc(100% + 2px);
    height: 0;
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: block;
}
div.radio-group input[type="radio"]:disabled + label:after {
    background-color: #c2c2c2;
}
div.radio-group input[type="radio"]:first-of-type + label:after {
    border-radius: 0 0 0 3px;
}
div.radio-group input[type="radio"]:last-of-type + label:after {
    border-radius: 0 0 3px 0;
}
div.radio-group input[type="radio"]:checked + label:after {
    height: 5px;
}
/* not checked */
div.radio-group input[type="radio"]:not(:checked) + label {
    opacity: 0.5;
}
div.radio-group input[type="radio"]:not(:checked):not(:disabled):hover + label {
    opacity: 1;
    border-color: var(--bw-blue);
    z-index: 1;
}
/* vertical orientation */
div.radio-group.vertical input[type="radio"]:empty ~ label {
    margin-right: 0;
    margin-bottom: -1px;
    width: calc(100% - 2.8em - 2px); /* padding + borders */
    clear: both;
}
div.radio-group.lg.vertical input[type="radio"]:empty ~ label {
    width: calc(100% - 4.4em - 2px); /* padding + borders */
}
div.radio-group.vertical input[type="radio"]:first-of-type + label {
    border-radius: 3px 3px 0 0;
}
div.radio-group.vertical input[type="radio"]:last-of-type + label {
    border-radius: 0 0 3px 3px;
}
div.radio-group.vertical input[type="radio"]:first-of-type + label:after {
    border-radius: 0;
}
div.radio-group.vertical input[type="radio"]:last-of-type + label:after {
    border-radius: 0 0 3px 3px;
}
   .pane{
      float: left;
      height: 100%;
      padding-top: 15px;
   }
   .nav{
      height:40px;
      margin: 0;
   }
   .nav a, .nav button{
      float: right;
      margin-right: 25px;
      border-bottom: 0px solid;
      margin-top: 0;
      margin-bottom: 0;
      line-height:3em;
   }
   .nav button{
      display: block;
      width: auto;
      font-size: 1em;
      min-height: 40px;
      text-align: center;
      background-color: var(--bw-blue);
      color: #FFF;
      border: none;
      border-radius: 3px;
      padding: 0 25px;
      text-transform: uppercase;
      cursor: pointer;
	  font-weight:bold; 
   }
   .nav a:hover{
      border-bottom: 1px solid;
      padding-bottom:.15em;
   }
   .tray{
      margin-top: 5px;
      margin-left: 30px;
      font-size:.9em;
   }
   .headerImg{
      max-width: 70%;  
   }
   .languageselector{
      margin-left: 30px;  
   }
   .section{
      width: calc(100% - 60px);
      border: 1px solid var(--disabled-grey);
      border-radius: 3px;
      padding: 30px;
      background-color: #fff;
      margin: 30px auto;
   }
   .section h1{
      margin-bottom: 25px; 
      color: var(--bw-blue);
      font-weight: 100;
      font-size:2em;
      line-height:1.3em;
   }
   .section h2{
      margin: 25px 0px 15px 0px;
   }
   .section h3{
      margin: 25px 0px 15px 0px;
      font-weight: 400;
      font-size: 1.5em;  
   }
   .section p{
      margin: -10px 0px 35px 0px;  
   }
   a.buttonLink{
      border:0px;  
   }
   code{
      display:block;
      background-color:#f7f7f7;
      padding: 10px 15px;
      border: 1px solid var(--disabled-grey);
      border-radius: 3px;
      margin:15px 0px 35px 0px;
   }